{% extends 'base.html.twig' %}

{% block titre %}Inscription sur ProStages{% endblock %}

{% block contenu %}
{{ form_start(vueFormulaire) }}

<label>&nbsp;Prénom </label>
{{form_errors(vueFormulaire.prenom)}}
{{ form_widget(vueFormulaire.prenom, {'attr':{'placeholder':"Votre prénom..."}})}}

<label>&nbsp;Nom</label>
{{form_errors(vueFormulaire.nom)}}
{{ form_widget(vueFormulaire.nom, {'attr':{'placeholder':"Votre nom..."}})}}

<label>&nbsp;Email</label>
{{form_errors(vueFormulaire.email)}}
{{ form_widget(vueFormulaire.email, {'attr':{'placeholder':"Votre email..."}})}}

<label>&nbsp;Mot de passe</label>
{{form_errors(vueFormulaire.password)}}
{{ form_widget(vueFormulaire.password, {'attr':{'placeholder':"Votre mot de passe..."}})}}

<br><pre> <button type="submit" class="btn btn-secondary">S'inscrire</button></pre>


{{ form_end(vueFormulaire) }}
{% endblock %}