{% extends 'base.html.twig' %}
{% block title %}
Ajout d'une entreprise
{% endblock %}

{% block contenu %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" style="text-align: left">
            <div class="card" style="width: 14 rem;">
                <div class="card-header">
                    Saisissez les caractéristiques d'une nouvelle entreprise
                </div>
                {{form_start(vueFormulaire)}}

                {{form_row(vueFormulaire.nom)}}

                {{form_row(vueFormulaire.activite)}}

                {{form_row(vueFormulaire.adresse)}}

                {{form_row(vueFormulaire.siteWeb)}}

                {{form_end(vueFormulaire)}}


            </div>
        </div>
    </div>
</div>

{% endblock %}