{% extends 'base.html.twig' %}
{% block title %}
Ajout d'une entreprise
{% endblock %}

{% block contenu %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" style="text-align: left">
            <div class="card" style="width: 14 rem;">
                <b>
                    <div class="card-header">
                        Saisissez les caractéristiques d'une nouvelle entreprise
                    </div>
                </b>
                {{form_start(vueFormulaire)}}

                {{form_row(vueFormulaire.nom, {'attr':{'placeholder':"Titre de l'entreprise..."}})}}

                {{form_row(vueFormulaire.activite, {'attr':{'placeholder':"Activité de l'entreprise..."}})}}

                {{form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}})}}

                {{form_row(vueFormulaire.siteWeb, {'attr':{'placeholder':"URl du site web..."}})}}

                <button type="submit" class="btn btn-secondary">Enregistrer</button>

                {{form_end(vueFormulaire)}}


            </div>
        </div>
    </div>
</div>

{% endblock %}