{% extends 'base.html.twig' %}


{% block contenu %}


<!-- Tableau contenant les différents stages/entreprises/formations-->
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Intitulé</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Formation</th>
    </tr>
  </thead>
  <tbody>
    {% for stageCourant in stages %}
    <tr>

      <td><a href="{{path('stages', {id:stageCourant.id})}}" style="color:white; text-decoration:none;">
          {{stageCourant.titre}}</a></td>

      <td><a href="{{path('stagesParEntreprise', {nom:stageCourant.entreprise.getNom})}}"
          style="color:white; text-decoration:none;">
          {{stageCourant.entreprise.getNom}}</a></td>
      <td>
        {% for formationCourante in stageCourant.formations %}
        {{formationCourante.nomCourt}}
      </td>

     
       {% endfor %}

    </tr>
    {% endfor %}
  </tbody>
</table>




<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-12" style="text-align: center">
      <div class="card" style="width: 14 rem;">
        <div class="card-header">
          Afficher les stages par :
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="{{path('entreprises')}}">Entreprises</a></li>
          <li class="list-group-item"><a href="{{path('formations')}}">Formations</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}