{% extends 'base.html.twig' %}
{% block title %}
{{stage.titre}}
{% endblock %}

{% block contenu %}

<h1><strong><center>{{ stage.titre }}</center></strong></h1>
</br></br>

<strong>Formation concernée</strong> :

{% for formationCourante in stage.formations %}
{{formationCourante.nomCourt}} ({{formationCourante.nomLong}})
{% endfor %}
</br></br>

<strong>Entreprise</strong> : {{stage.entreprise.nom}}
</br></br>

<strong>Activité de l'entreprise</strong> : {{stage.entreprise.activite}}
</br></br>

<strong>Adresse</strong> : {{stage.entreprise.adresse}}
</br></br>

<strong>Description</strong> : <p align = "justify">{{stage.description}}</p>

<strong>Mail</strong> : <a href = "mailto:{{stage.email}}">{{stage.email}}</a>
</br></br>
<strong>Site Web</strong> : {{stage.entreprise.siteWeb}}



{% endblock %}