<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">

  <title>{% block titrePage %}ProStages{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <div class="" container-fluid"">
    <div class="row">
      <div class="col-md-12 col-sm-24 col-xs-48">
        <!-- Zone haute du site -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.ehmtic2014.com/wp-content/uploads/2019/09/digital-marketing-agency-1.jpg"
                class="d-block w-100" style="width:auto; height:300px; ">
              <div class="carousel-caption" style="vertical-align: text-top">
                <h1 style="color: black; font-family: 'Geneva'; font-size: 120px">ProStages</h1>
              </div>
            </div>

          </div>
        </div>

        <!-- BLOC DU MENU -->
        {% block menu %}
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="/entreprises">Entreprises </a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="/formation">Formations</a>
                  </li>

                 
                  
                  {% if is_granted('ROLE_USER') %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{path('ajoutStage')}}"><i class="icon-plus"></i>Ajouter un stage </a>
                  </li>
                  {% endif %}

                  {% if is_granted('ROLE_ADMIN') %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{path('ajoutEntreprise')}}"><i class="icon-plus"></i>Ajouter une
                      entreprise </a>
                  </li>
                  {% endif %}

                  {% if is_granted('ROLE_ADMIN') %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{path('formation_new')}}"><i class="icon-plus"></i>Ajouter une
                      formation </a>
                  </li>
                  {% endif %}

                  {% if is_granted('ROLE_ADMIN') %}
                  <li class="nav-item active">
                    <a class="nav-link" href="/admin">Espace Admin </a>
                  </li>
                  {% endif %}

                </ul>

                <ul class="navbar-nav ml-md-auto">


                  {% if is_granted('ROLE_USER') %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_logout')}}">
                      {{ app.user.prenom }} {{ app.user.nom }}
                      <i class="icon-user"></i>
                      Déconnexion
                      <span class="sr-only">(current)</span></a>
                  </li>
                  {% else %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_inscription')}}">
                      Inscription
                      <span class="sr-only">(current)</span></a>
                  </li>


                  <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_login')}}">
                      <i class="icon-user"></i>
                      Connexion
                      <span class="sr-only">(current)</span></a>
                  </li>

                  {% endif %}
                </ul>

              </div>
            </nav>
          </div>
        </div>
      </div>

    </div>
    {% endblock %}
    <br>
    <br>
    <h3>{% block titre %}
      {% endblock %}</h3>

    {% block contenu %}
    {% endblock %}



    {% block footer %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" style="text-align: right">
          <h8>Created by Quentin Marque and Symfony</h8>
        </div>
      </div>
    </div>
    {% endblock %}


    {% block javascripts %}
    {% endblock %}
</body>

</html>